
@{
    ViewBag.Title = Model.Baslik;
}

@model OmerKurtaran.WebUI.Models.Makale

<div class="blog-posts classic-blog single">
    <div class="post format-image">
        <div class="meta">
            <span class="date">@Model.EklenmeTarihi</span>
            <span class="categories">
                <a href="/Kategori/Index/@Model.KategoriID">@Model.Kategori.Adi</a>, <a href="#">Photography</a>
            </span>
            <span class="comments"><a href="#Yorum">@Model.Yorums.Count <i class="icon-chat-1"></i></a></span>
        </div>
        <h1 class="post-title">@Model.Baslik</h1>
        <figure class="main">
            <img src="@Model.Resim.BuyukBoyut" alt="" />
        </figure>
        <div class="post-content">
            <p>@Model.Icerik</p>
            <div class="meta tags">
                @foreach (OmerKurtaran.WebUI.Models.Etiket etiket in Model.Etikets)
                 {
                     <a href="/Etiket/Index/@etiket.EtiketId">@etiket.Adi</a>
                 }
            </div>
            <div class="click-share">
                <ul>
                    <li><a class="btn share-facebook" href="#">Like</a></li>
                    <li><a class="btn share-twitter" href="#">Tweet</a></li>
                    <li><a class="btn share-pinterest" href="#">Pin it</a></li>
                </ul>
            </div>
            <!-- /.share-links -->

        </div>
    </div>
    <!-- /.post -->

</div>
<!-- /.blog-posts -->

<div class="about-author dark-wrapper">
    <div class="author-image"> <img alt="" src="#" /> </div>
    <div class="author-details">
        <h3>@Model.Yazar.Adi @Model.Yazar.Soyadi Hakkında</h3>
        <p>@Model.Yazar.Aciklama</p>
        <ul class="social">
            <li><a href="#"><i class="icon-s-twitter"></i></a></li>
            <li><a href="#"><i class="icon-s-facebook"></i></a></li>
            <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
            <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="divide100"></div>

<a id="Yorum"></a>

<div id="comments">
    <h3>4 Comments</h3>
    <ol id="singlecomments" class="commentlist">
        <li>
            <div class="comment-wrapper">
                <div class="user"><img alt="" src="style/images/art/u1.jpg" class="avatar" /></div>
                <div class="message">
                    <div class="arrow-box">
                        <div class="info">
                            <h2><a href="#">Connor Gibson</a></h2>
                            <div class="meta"> <span class="date">January 14, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                        </div>
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="comment-wrapper">
                <div class="user"><img alt="" src="style/images/art/u2.jpg" class="avatar" /></div>
                <div class="message">
                    <div class="arrow-box">
                        <div class="info">
                            <h2><a href="#">Nikolas Brooten</a></h2>
                            <div class="meta"> <span class="date">February 21, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                        </div>
                        <p>Quisque tristique tincidunt metus non aliquam. Quisque ac risus sit amet quam sollicitudin vestibulum vitae malesuada libero. Mauris magna elit, suscipit non ornare et, blandit a tellus. Pellentesque dignissim ornare elit, quis mattis eros sodales ac.</p>
                    </div>
                </div>
            </div>
            <ul class="children">
                <li class="bypostauthor">
                    <div class="comment-wrapper">
                        <div class="user"><img alt="" src="style/images/art/u4.jpg" class="avatar" /></div>
                        <div class="message">
                            <div class="arrow-box bypostauthor">
                                <div class="info">
                                    <h2><a href="#">Pearce Frye</a></h2>
                                    <div class="meta"> <span class="date">February 22, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                                </div>
                                <p>Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit non magna.</p>
                            </div>
                        </div>
                    </div>
                    <ul class="children">
                        <li>
                            <div class="comment-wrapper">
                                <div class="user"><img alt="" src="style/images/art/u2.jpg" class="avatar" /></div>
                                <div class="message">
                                    <div class="arrow-box">
                                        <div class="info">
                                            <h2><a href="#">Nikolas Brooten</a></h2>
                                            <div class="meta"> <span class="date">April 4, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                                        </div>
                                        <p>Nullam id dolor id nibh ultricies vehicula ut id. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment-wrapper">
                <div class="user"><img alt="" src="style/images/art/u3.jpg" class="avatar" /></div>
                <div class="message">
                    <div class="arrow-box">
                        <div class="info">
                            <h2><a href="#">Lou Bloxham</a></h2>
                            <div class="meta"> <span class="date">May 03, 2010</span> <span class="reply"><a class="reply-link" href="#">Reply</a></span> </div>
                        </div>
                        <p>Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>
<!-- /#comments -->
<div class="divide100"></div>
<div class="comment-form-wrapper">
    <h3>Would you like to share your thoughts?</h3>
    <p>Your email address will not be published. Required fields are marked *</p>
    <form class="comment-form" name="form_name" action="#" method="post">
        <div class="name-field">
            <label><i class="icon-user"></i></label>
            <input type="text" name="first" title="Name*" />
        </div>
        <div class="email-field">
            <label><i class="icon-mail-alt"></i></label>
            <input type="text" name="first" title="Email*" />
        </div>
        <div class="website-field">
            <label><i class="icon-globe"></i></label>
            <input type="text" name="first" title="Website" />
        </div>
        <div class="message-field">
            <textarea name="textarea" id="textarea" rows="5" cols="30" title="Enter your comment here..."></textarea>
        </div>
        <input type="submit" value="Submit" name="submit" class="btn btn-submit" />
    </form>
</div>
<!-- /.comment-form-wrapper -->
